= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation      
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .field-holder.set-center
    .form-group
      = f.label "نام:", :class => "control-label"
      = f.text_field :name, :class => "form-control"
    .form-group
      = f.label "نام خانوادگی:", :class => "control-label"
      = f.text_field :last_name, :class => "form-control"
    .form-group
      = f.label "سمت:", :class => "control-label"
      = f.text_field :post, :class => "form-control"
    .form-group
      = f.label "تصویر:", :class => "control-label"
      = f.file_field :image
    .form-group
      = f.submit 'ثبت', :class => "btn btn-default"
