= nested_form_for @team, :html => { :multipart => true  } do |f|
  - if @team.errors.any?
    #error_explanation      
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .col-xs-6.pull-right
    .field-holder.set-center
      .form-group
        = f.label "نام:", :class => "control-label"
        = f.text_field :name, :class => "form-control"
      .form-group
        = f.label "نام خانوادگی:", :class => "control-label"
        = f.text_field :last_name, :class => "form-control"
      .form-group
        = f.label "سمت:", :class => "control-label"
        = f.text_field :post, :class => "form-control"
      .form-group
        = f.label "تصویر:", :class => "control-label"
        = f.file_field :image
      .form-group
        = f.submit 'ثبت', :class => "btn btn-default"    
  .col-xs-6 
    .form-group
      = f.label "ترتیب قرار گرفتن تصویر فرد", :class => "control-label"
      %i= 'به ترتیب از چپ به راست - عدد کوچکتر اولیت نمایش بیشتر دارد.'
      = f.text_field :set_order, :class => "form-control"
    .form-group
      %p{:class => I18n.locale}= 'آیکن هر مهارت را از این کادر انتخاب کنید.'
      %p{ :style=> "color:#ec523f", :class => I18n.locale}= "دقت داشته باشید حجم هر عکس باید کمتر از ۵۰۰کیلوبایت باشد."
      = f.link_to_add content_tag(:span, "افزودن تصویر", :class => "btn btn-warning" ), :skills, :id => "add_new_picture", :class => "btn"  
    .col-xs-12 
      = f.fields_for :skills do |picture|  
        .col-xs-6
          = render "shared/upload_image_form", :picture => picture
  .col-xs-12
    .col-xs-6
      .form-group.editor
        = f.label 'رشته تحصیلی به فارسی', :class => "control-label"
        = f.text_area :education, :class => "ckeditor"
    .col-xs-6
      .form-group.editor
        = f.label 'رشته تحصیلی به انگلیسی', :class => "control-label"
        = f.text_area :education_en, :class => "ckeditor"
  .col-xs-12
    .col-xs-6
      .form-group.editor
        = f.label 'زمینه کاری به فارسی', :class => "control-label"
        = f.text_area :job_field, :class => "ckeditor"
    .col-xs-6
      .form-group.editor
        = f.label 'زمینه کاری به انگلیسی', :class => "control-label"
        = f.text_area :job_field_en, :class => "ckeditor"
  .col-xs-12
    .col-xs-6
      .form-group.editor
        = f.label 'توانایی های مرتبط به فارسی', :class => "control-label"
        = f.text_area :ability, :class => "ckeditor"
    .col-xs-6
      .form-group.editor
        = f.label 'توانایی های مرتبط به انگلیسی', :class => "control-label"
        = f.text_area :ability_en, :class => "ckeditor"
  .col-xs-12
    .col-xs-6
      .form-group.editor
        = f.label 'اطلاعات تماس به فارسی', :class => "control-label"
        = f.text_area :contact_info, :class => "ckeditor"
    .col-xs-6
      .form-group.editor
        = f.label 'اطلاعات تماس به انگلیسی', :class => "control-label"
        = f.text_area :contact_info_en, :class => "ckeditor"
  .col-xs-12
    .form-group.editor
      = f.label 'توضیحات متن فارسی', :class => "control-label"
      = f.text_area :description_fa, :class => "ckeditor"
    .form-group.editor
      = f.label 'توضیحات متن انگلیسی', :class => "control-label"
      = f.text_area :description_en, :class => "ckeditor"
