.our-team
  
  - @teams.each do |team|
    .team-item  
      .set-center.teams.post= team.post
      .team-pic.set-center      
        = image_tag team.image(:medium)
      .set-center.team-info
        %div= team.name + " " +  team.last_name
        
        
        = link_to (image_tag 'edit.png', :alt => "edit"), edit_team_path(team)      
        = link_to (image_tag 'del.png', :alt => "delete"), team, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .clear-float
  
  %br
  - if is_admin?
    = link_to 'New Team', new_team_path, :class=> "btn"
  %br
  
