.our-team
  - @teams.each do |team|
    .team-item  
      .team-pic.set-center
        = image_tag team.image(:medium)
      %div= team.name + " " +  team.last_name
      %div= team.post
      
      = link_to 'Edit', edit_team_path(team)
      = link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }



  = link_to 'New Team', new_team_path
  = link_to 'صفحه اصلی' , root_path
