.our-team  
  .team-group
    - @w = 100 / @teams.count.to_i    
    - @teams.each do |team|    
      .team-item.pull-right{:style => "width:" +@w.to_s + "%"}
        .team-pic.set-center.pull-right{ "data-toggle" => "tooltip", "data-placement" => "bottom", :title => team.post + " | " + team.name + " " + team.last_name  }
          = image_tag team.image(:large), :class => "team-img", :id => 'team_img_'+team.id.to_s
      
  .clear-float  
  - @teams.each do |team| 
    .col-xs-12.show-team-detail{:class => "team_img_"+team.id.to_s}
      .col-xs-3.pull-left{:style => "text-align:center"} 
        = image_tag team.image(:large), :class => "team-img", :id => 'team_img_'+team.id.to_s, :height => "500"
      .col-xs-3{:style => 'padding:1%'}
        .team-skill
          - if team.skills.present?
            - team.skills.each do |skill|
              .col-xs-2.skills-icon= image_tag skill.icon(:icon)
      .col-xs-6.pull-right.team-info
        .set-center{:class => I18n.locale}
          %b.post= team.post
          %div= team.name + " " +  team.last_name  
          .team-text{:class => I18n.locale}= raw team.description
          
          
          - if is_admin?
            = link_to (image_tag 'edit.png', :alt => "edit"), edit_team_path(team)      
            = link_to (image_tag 'del.png', :alt => "delete"), team, :method => :delete, :data => { :confirm => 'Are you sure?' }

.col-xs-4
  .link{:style => "width:100%"}
    #team-bk.button.set-center.btnw10.back
      .item{:class => I18n.locale}= t('back-list')
      .icon
        = image_tag "back.png", height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
      .clear-float
.clear-float
  
:javascript  
  $('img.team-img').click(function() { 
    $('.team-group').hide(500);
    TeamId = $(this).attr('id');
    $('.'+ TeamId).show(800);
    $('#team-bk').show();   
  });
  $('#team-bk').click(function(){
    $('.show-team-detail').hide(500);
    $('.team-group').show(800); 
    $('#team-bk').hide();  
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
