.fa.width80.set-center
  %h1 تیم کاری

  %table.table
    %tr
      %th ردیف
      %th نام
      %th نام خانوادگی
      %th سمت
      %th اولیت نمایش      
      %th

    - @teams.each_with_index do |team, i|
      %tr
        %td= (i+1)
        %td= team.name
        %td= team.last_name
        %td= team.post
        %td= team.set_order
        %td
          = link_to 'Show', team
          = link_to 'Edit', edit_team_path(team)
          = link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'عضو جدید', new_team_path, :class=> "btn btn-default"
  = link_to 'صفحه اصلی' , root_path
