.fa.width80.set-center
  %p#notice= notice

  %p
    %b Name:
    = @team.name
  %p
    %b Last name:
    = @team.last_name
  %p
    %b Post:
    = @team.post
  %p
    = image_tag @team.image(:small)
  %div
    - if @team.skills.present?
      - @team.skills.each do |skill|
        = image_tag skill.icon(:icon)
  = link_to 'Edit', edit_team_path(@team)
  \|
  = link_to 'Back', teams_path
