.our-team  
  - @teams.each do |team|
    .team-item        
      .team-pic.set-center.pull-right    
        = image_tag team.image(:large), :class => "team-img", :id => 'team_img_'+team.id.to_s
    .btnw40.pull-right.team-info{:class => "team_img_"+team.id.to_s}
      .set-center
        .post= team.post
        %div= team.name + " " +  team.last_name        
        - if is_admin?
          = link_to (image_tag 'edit.png', :alt => "edit"), edit_team_path(team)      
          = link_to (image_tag 'del.png', :alt => "delete"), team, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .clear-float
  .link{:style => "position:fixed; bottom:20%; min-width:10%; min-height:5%"}
    #team-bk.button.set-center.btnw10.back
      .item{:class => I18n.locale}= t('back')
      .icon
        = image_tag "back.png", height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
      .clear-float
  
:javascript
  
  $('img.team-img').click(function() {
    $('img.team-img').not($(this)).addClass('fade-img');
    $(this).addClass('move-img');
    TeamId = $(this).attr('id')
    $('.'+ TeamId).fadeIn(400);    
  });
  $('#team-bk').click(function(){
    $('.team-info').fadeOut(400);
     $('img.team-img').removeClass('fade-img move-img');
     
  });
  
  
