.fa.width80
  %h1 خدمات

  %table.table

    - @services.each do |service|
      %tr
        %td= service.title        
        %td= service.description
        
        %td
          = link_to 'Show', service
          \|
          = link_to 'Edit', edit_service_path(service)
          \|
          = link_to 'Destroy', service, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Service', new_service_path, :class => "btn btn-default"
