= form_for @tariff_price do |f|
  - if @tariff_price.errors.any?
    #error_explanation     
      %ul
        - @tariff_price.errors.each do |attr, msg|
          %li= msg
  .col-xs-5.margin5
    .form-group
      = f.label :modual, :class => "control-label"
      = f.text_area :modual, :class => "form-control"
    .form-group
      = f.label :unit_price, :class => "control-label"
      = f.text_field :unit_price, :class => "form-control"
    .form-group
      = f.label :number, :class => "control-label"
      = f.text_field :number, :class => "form-control"
    .form-group
      = f.label :service_id
      = f.select(:service_id, Service.find(:all).collect {|u| [u.title, u.id]}, :prompt => 'Select Service')      
    .form-group
      = f.submit 'ثبت', :class => "btn btn-info"
