= form_for @tariff_price do |f|
  - if @tariff_price.errors.any?
    #error_explanation     
      %ul
        - @tariff_price.errors.each do |attr, msg|
          %li= msg
  .col-xs-5.margin5.pull-right
    .form-group
      = f.label 'ماژول', :class => "control-label"
      = f.text_area :modual, :class => "form-control"
    .form-group
      = f.label 'قیمت واحد', :class => "control-label"
      = f.text_field :price_unit, :class => "form-control"
    .form-group
      = f.label 'تعداد', :class => "control-label"
      = f.text_field :number, :class => "form-control"
    .form-group
      = f.label 'سرویس مربوط'
      = f.select(:service_id, Service.find(:all).collect {|u| [u.title, u.id]}, :prompt => 'Select Service')      
    .form-group
      %i= 'اگر این ماژول قابل شمارش است تیک  مقابل را فعال کنید تا فیلد تکست باکس مقابل آن نمایش داده شود'  
      =f.check_box :set_number
    .form-group
      = f.submit 'ثبت', :class => "btn btn-info"
