.fa.width80
  %h1 تعرفه قیمت 

  .row.first-row    
    .col-xs-6
      .col-md-4= "قیمت واحد"
      .col-md-4= "تعداد"
      .col-md-4= "هزینه "
    .col-xs-6= "ماژول"
  .row  
    - @tariff_prices.each do |tariff_price|
      .row        
        .col-xs-6
          .col-md-4= tariff_price.unit_price
          .col-md-4= tariff_price.number        
          .col-md-4
          .col-md-4
            = link_to 'Edit', edit_tariff_price_path(tariff_price)
            = link_to 'Destroy', tariff_price, :method => :delete, :data => { :confirm => 'Are you sure?' }
        .col-xs-6= tariff_price.modual

  
    
  = link_to 'تعریف تعرفه جدید', new_tariff_price_path
  
