%p#notice= notice

%p
  %b Modual:
  = @tariff_price.modual
%p
  %b Unit price:
  = @tariff_price.unit_price
%p
  %b Number:
  = @tariff_price.number

= link_to 'Edit', edit_tariff_price_path(@tariff_price)
\|
= link_to 'Back', tariff_prices_path
