.width80.fa  
  %p#notice= notice

  %p
    %b ماژول
    = @tariff_price.modual
  %p
    %b قیمت واحد
    = @tariff_price.price_unit
  %p
    %b تعداد
    = @tariff_price.number

  = link_to 'ویرایش', edit_tariff_price_path(@tariff_price)
  \|
  = link_to 'بازگشت', tariff_prices_path
