= nested_form_for @account_document, :html => { :multipart => true  }  do |f|
  - if @account_document.errors.any?
    #error_explanation
      
      %ul
        - @account_document.errors.full_messages.each do |msg|
          %li= msg
  .pull-right.margin5.col-sm-3 
    - if @last_letter_split.present?
      %b= 'شماره فاکتور: ' + ' ' + 'R-'+ @current_year.to_s + '/' +@last_letter_split.to_s
    - if @account_document.factor_type.present?
      %b= @account_document.factor_type
    - else
      = f.hidden_field :factor_type, :value => @factor_type
    = hidden_field_tag :counter_number, params[:counter_number], :id => 'counter_number_field', :value => @last_letter_split
    .form-group
      - if @account_document.present?
      
        %b= 'تاریخ ثبت فاکتور'  + JalaliDate.new(@account_document.created_at).to_s
      %p
        %b= 'تاریخ امروز: '  + JalaliDate.new(Date.today).to_s
    - unless @factor_type == 'received'
      .form-group
        = f.label 'تاریخ پرداخت:', :class => "control-label"
        = f.text_field :payment_date_fa, :class => "fa_date form-control"
    
    .form-group
      = f.label 'فاکتور بابت:', :class => "control-label"
      = f.select(:payment_group_id, PaymentGroup.all.collect {|u| [u.title, u.id]}, :prompt => ' این فاکتور بابت...')
    
      = link_to 'افزودن عنوان فاکتور', new_payment_group_path,  :class => "btn btn-default"
    .form-group
      - if @factor_type == "received" || @factor_type == "customer"
        = f.label 'پرداخت به:', :class => "control-label"
        %b{:style => "font-size:20px"}= 'شرکت راش'
        = f.hidden_field :paid_to, :value => 'شرکت راش'
      - else
        = f.label 'پرداخت به:', :class => "control-label"
        = f.text_field :paid_to, :class => "form-control"
        
      
    .form-group
      - if @factor_type == "cost"
        = f.hidden_field :paid_by, :value => 'شرکت راش'
        = f.label 'پرداخت توسط:', :class => "control-label"
        %b{:style => "font-size:20px"}= 'شرکت راش'
      - elsif @factor_type == "customer"
        = f.label 'خریدار:', :class => "control-label"      
        = f.text_field :paid_by, :class => "form-control"
      - else
        = f.label 'پرداخت توسط', :class => "control-label"      
        = f.text_field :paid_by, :class => "form-control", :id => "paid-by"
    
    
  .col-sm-3.pull-right.margin5
    .form-group
      = link_to 'اعمال تخفیف', '#', :class => "btn btn-default","data-toggle" => "modal", "data-target" => "#takhfif", :id => "set_order"
      = link_to 'هزینه نصب و راه اندازی', '#', :class => "btn btn-default","data-toggle" => "modal", "data-target" => "#installation", :id => "set_order"      
      = link_to 'توجه', '#', :class => "btn btn-default","data-toggle" => "modal", "data-target" => "#tavajoh", :id => "set_order"      
      
    - if @factor_type == 'received'
      .form-group  
        = f.label 'شماره فیزیکی فاکتور', :class => "control-label"
        = f.text_field :physical_factor_number, :class => "form-control"
    .form-group
      = f.label 'شرح:', :class => "control-label"
      = f.text_area :description, :class => "form-control"
    - if  @account_document.factor_type == 'cost' || @factor_type == 'cost'
      .form-group
        %b اگر تصویر فاکتور را می خواهید وارد کنید روی دکمه زیر کلیک کنید
        = f.file_field :scan_file, :class => "form-control"
      #show-set-value-field.btn.btn-danger
        %i درصورتی که می خواهید مبلغ کل را دستی وارد کنید اینجا کلیک کنید.
      .form-group#set-value-custome{:style => ('display:block' if @account_document.value.present?)}
        = f.label 'مبلغ کل فاکتور', :class => "control-label"
        = f.number_field :value, :class => "form-control"
      #show-add-details.btn.btn-warning
        %i نمایش مجدد جزئیات فاکتور
    .form-group
      = f.submit 'ثبت', :class => "btn btn-default", :id => "save_factor"
    
  .col-sm-5#factor_details
    .form-group
      = f.label 'جزئیات فاکتور:', :class => "control-label"     
      
      = f.fields_for :factor_details do |detail|          
        .col-sm-12
          = render "factor_details/set_detail", :detail => detail
    .form-group
      = f.link_to_add content_tag(:span, "افزودن ", :class => "btn btn-success"), :factor_details, :id => "add_new_picture", :class => "save-btn add_details_factor"
      
  .modal.fade.bs-example-modal-sm#takhfif{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title 
            تخفیف
        .modal-body 
          .form-group 
            = f.label 'درصد تخفیف:', :class => "control-label"
            = f.number_field :takhfif_precent, :class => "form-control"
          .clear-float  
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} ثبت  
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close  
  .modal.fade.bs-example-modal-sm#installation{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          
          %h4#myModalLabel.modal-title 
            هزینه نصب و راه اندازی
        .modal-body 
        
          .form-group 
            = f.label 'عنوان :', :class => "control-label"
            = f.text_area :installation_cost_title, :class => "form-control fill " 
        
          .form-group 
            = f.label 'درصد:', :class => "control-label"
            = f.number_field :installation_cost_precent, :class => "form-control "
          .clear-float  
        .modal-footer
          %button.btn.btn-default#set-installation-cost{"data-dismiss" => "modal", type: "button"} ثبت    
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
  .modal.fade.bs-example-modal-lg#tavajoh{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          
          %h4#myModalLabel.modal-title  موارد قابل توجه
            
        .modal-body          
        
          .form-group 
            .editor
              = f.text_area :tavajoh, :class => "form-control ckeditor" 
        
          
          .clear-float  
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} ثبت    
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
  
:javascript
  $(document).ready(function () {
    //called when key is pressed in textbox
    $("#factor_cost").keypress(function (e) {
       //if the letter is not digit then display error and don't type anything
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          //display error message
          $(this).css('border', '2px solid red');
            return false;
        }
    });
  });
  
  

  function enable_file_select(){
    $(".enable_file_select").unbind('click').click(function(){
      $(this).parent().find("input:file").click();
    });
   }
  
  enable_file_select();

  $("#add_new_picture").click(function(){
    $(".enable_file_select").unbind('click');
    window.setTimeout('enable_file_select()', 1000);
  });
  $('.fa_date').datepicker()
   
  $(function() { 
    $(':submit#save_factor').click(function(e) {
      $(':text#paid-by, #account_document_payment_group_id').each(function() {
        if ($(this).val().length == 0) {
          $(this).css('border', '2px solid red');
          e.preventDefault();
        }
      });
    });
  });
  $(function() { 
    $('.modal-footer :submit#set-installation-cost').click(function(e) {
      $(':text#account_document_installation_cost_precent, #account_document_installation_cost_title').each(function() {
        if ($(this).val().length == 0) {
          $(this).css('border', '2px solid red');
          e.preventDefault();
        }
      });
    });
  });
  
  $('#show-set-value-field').click(function(){
    $('#set-value-custome').show(100);
    $('#factor_details').fadeOut(100);    
  });
  $('#show-add-details').click(function(){
    $('#factor_details').show(100);    
    $('#set-value-custome').fadeOut(100);    
    $('#set-value-custome input').val(0);    
  });
  

