= form_for @account_document do |f|
  - if @account_document.errors.any?
    #error_explanation
      
      %ul
        - @account_document.errors.full_messages.each do |msg|
          %li= msg
  .pull-right.margin5
    = f.hidden_field :factor_type, :value => @factor_type
    .form-group
      = f.label 'تاریخ پرداخت:', :class => "control-label"
      = f.date_select :payment_date, :class => "form-control"
    .form-group
      = f.label 'فاکتور بابت:', :class => "control-label"
      = f.select(:payment_group_id, PaymentGroup.all.collect {|u| [u.title, u.id]}, :prompt => ' این فاکتور بابت...') 
    .form-group
      = link_to 'افزودن فرد مرتبط', new_related_person_path, :remote => true, :class => "btn btn-default"
      = link_to 'افزودن عنوان فاکتور', new_payment_group_path, :remote => true, :class => "btn btn-default"
    
    .form-group
      = f.label 'پرداخت به', :class => "control-label"
      = f.select(:paid_to, RelatedPerson.all.collect {|u| [u.title, u.id]}, :prompt => ' پرداخت به', :id => "paid_to") 
      
    .form-group
      = f.label 'پرداخت توسط', :class => "control-label"      
      = f.select(:paid_by, RelatedPerson.all.collect {|u| [u.title, u.id]}, :prompt => ' پرداخت توسط', :id => "paid_by") 
    .form-group
      = f.label 'مبلغ به ریال', :class => "control-label"
      %br
      %i= 'قبل از وارد کردن مبلغ زبان سیستم را انگلیسی کنید.'
      = f.text_field :value, :class => "form-control"
      
  .btnw30.pull-right.margin5
    .form-group  
      = f.label 'شماره فیزیکی فاکتور', :class => "control-label"
      = f.text_field :physical_factor_number, :class => "form-control"
    .form-group
      = f.label 'توضیحات:', :class => "control-label"
      = f.text_area :description, :class => "form-control"
    .form-group
      = f.submit 'ثبت', :class => "btn btn-default"
