= nested_form_for @account_document, :html => { :multipart => true  }  do |f|
  - if @account_document.errors.any?
    #error_explanation
      
      %ul
        - @account_document.errors.full_messages.each do |msg|
          %li= msg
  .pull-right.margin5.col-sm-3 
    - if @last_letter_split.present?
      %b= 'شماره فاکتور: ' + ' ' + 'R-'+ @current_year.to_s + '/' +@last_letter_split.to_s
    = f.hidden_field :factor_type, :value => @factor_type
    = hidden_field_tag :counter_number, params[:counter_number], :id => 'counter_number_field', :value => @last_letter_split
    .form-group
      = f.label 'تاریخ پرداخت:', :class => "control-label"
      = f.text_field :payment_date_fa, :class => "fa_date form-control"
    .form-group
      = f.label 'فاکتور بابت:', :class => "control-label"
      = f.select(:payment_group_id, PaymentGroup.all.collect {|u| [u.title, u.id]}, :prompt => ' این فاکتور بابت...') 
    
      = link_to 'افزودن عنوان فاکتور', new_payment_group_path,  :class => "btn btn-default"
    .form-group
      - if @factor_type == "received" || @factor_type == "customer"
        = f.label 'پرداخت به:', :class => "control-label"
        %b{:style => "font-size:20px"}= 'شرکت راش'
        = f.hidden_field :paid_to, :value => 'شرکت راش'
      - else
        = f.label 'پرداخت به:', :class => "control-label"
        = f.text_field :paid_to, :class => "form-control"
        
      
    .form-group
      - if @factor_type == "cost"
        = f.hidden_field :paid_by, :value => 'شرکت راش'
        = f.label 'پرداخت توسط:', :class => "control-label"
        %b{:style => "font-size:20px"}= 'شرکت راش'
      - elsif @factor_type == "customer"
        = f.label 'خریدار:', :class => "control-label"      
        = f.text_field :paid_by, :class => "form-control"
      - else
        = f.label 'پرداخت توسط', :class => "control-label"      
        = f.text_field :paid_by, :class => "form-control"
    
    
  .col-sm-3.pull-right.margin5
    .form-group
      = link_to 'اعمال تخفیف', '#', :class => "btn btn-default","data-toggle" => "modal", "data-target" => "#takhfif", :id => "set_order"
      = link_to 'هزینه نصب و راه اندازی', '#', :class => "btn btn-default","data-toggle" => "modal", "data-target" => "#installation", :id => "set_order"      
      = link_to 'توجه', '#', :class => "btn btn-default","data-toggle" => "modal", "data-target" => "#tavajoh", :id => "set_order"      
      
      
    .form-group  
      = f.label 'شماره فیزیکی فاکتور', :class => "control-label"
      = f.text_field :physical_factor_number, :class => "form-control"
    .form-group
      = f.label 'شرح:', :class => "control-label"
      = f.text_area :description, :class => "form-control"
    .form-group
      = f.submit 'ثبت', :class => "btn btn-default"
  .col-sm-5
    .form-group
      = f.label 'جزئیات فاکتور:', :class => "control-label"     
      
      = f.fields_for :factor_details do |detail|          
        .col-sm-12
          = render "factor_details/set_detail", :detail => detail
    .form-group
      = f.link_to_add content_tag(:span, "افزودن ", :class => "btn btn-success"), :factor_details, :id => "add_new_picture", :class => "save-btn add_details_factor"
      
  .modal.fade.bs-example-modal-sm#takhfif{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title 
            تخفیف
        .modal-body          
        
          .form-group 
            = f.label 'عنوان تخفیف:', :class => "control-label"
            = f.text_area :takhfif_title, :class => "form-control fill" 
        
          .form-group 
            = f.label 'درصد تخفیف:', :class => "control-label"
            = f.text_field :takhfif_precent, :class => "form-control"
          .clear-float  
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} ثبت  
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close  
  .modal.fade.bs-example-modal-sm#installation{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          
          %h4#myModalLabel.modal-title 
            هزینه نصب و راه اندازی
        .modal-body          
        
          .form-group 
            = f.label 'عنوان :', :class => "control-label"
            = f.text_area :installation_cost_title, :class => "form-control fill" 
        
          .form-group 
            = f.label 'درصد:', :class => "control-label"
            = f.text_field :installation_cost_precent, :class => "form-control"
          .clear-float  
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} ثبت    
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
  .modal.fade.bs-example-modal-lg#tavajoh{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          
          %h4#myModalLabel.modal-title  موارد قابل توجه
            
        .modal-body          
        
          .form-group 
            .editor
              = f.text_area :tavajoh, :class => "form-control ckeditor" 
        
          
          .clear-float  
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} ثبت    
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
  
:javascript
  $(document).ready(function () {
    //called when key is pressed in textbox
    $("#factor_cost").keypress(function (e) {
       //if the letter is not digit then display error and don't type anything
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          //display error message
          $(this).css('border', '2px solid red');
            return false;
        }
    });
  });
  
  

  function enable_file_select(){
    $(".enable_file_select").unbind('click').click(function(){
      $(this).parent().find("input:file").click();
    });
   }
  
  enable_file_select();

  $("#add_new_picture").click(function(){
    $(".enable_file_select").unbind('click');
    window.setTimeout('enable_file_select()', 1000);
  });
  $('.fa_date').datepicker()

