.width80.fa.set-center 
  %h1 لیست فاکتورها
  

  %table.table.table-striped{id:"account_table"}
    %thead
      %tr      
        %th ردیف
        %th تاریخ پرداخت
        %th مبلغ
        %th پرداخت به آقای/خانم/شرکت
        %th پرداخت توسط آقای/خانم/شرکت
        %th بابت
        %th شماره فیزیکی فاکتور
        %th توضیحات
        %th
     
    %tbody
      - @account_documents.each_with_index do |account_document, i|
        %tr
          %td= (i+1)
          %td= account_document.payment_date
          %td= account_document.value
          %td= account_document.paid_to
          %td= account_document.paid_by
          %td= account_document.payment_group.title
          %td= account_document.physical_factor_number
          %td= account_document.description        
          %td
            = link_to 'Show', account_document
            = link_to 'Edit', edit_account_document_path(account_document)
            = link_to 'Destroy', account_document, :method => :delete, :data => { :confirm => 'Are you sure?' }

  
  = link_to accounting_path , :class =>'link' do
    #btn-bk-about.button.set-center.btnw10.back
      .item= t('back')
      .icon
        = image_tag "back.png", height: "40" , width: "40"    
      
      .clear-float
  = link_to 'ثبت فاکتور جدید', new_account_document_path, :class => "btn btn-default"


:coffeescript
  window.reloadDataTable = ->
    if !!window.oTable
      window.oTable.fnDestroy(); 
    window.oTable = $("#account_table").dataTable aoColumnDefs: [
      bSearchable: false
      aTargets: [0,8]
    ,  
      bSortable: false
      aTargets: [0,8]
    ],  oLanguage:
      sSearch: "جستجو:"
      sLengthMenu: "نمایش _MENU_ ردیف"
      sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
      sZeroRecords: "هیچ داده ای وجود ندارد"
      sInfoEmpty: "هیچ موردی یافت نشد"
      sInfoFiltered: " - از بین _MAX_ داده موجود"
      oPaginate:
        sPrevious: "صفحه قبلی"
        sNext: "صفحه بعدی"

  window.reloadDataTable()


