.fa.set-center 
  .title{:style => "height:100px"}
    %h1.pull-right لیست فاکتورها
    -if flash[:FactorTypeEmpty].present?
      = flash[:FactorTypeEmpty]
    .pull-right{:style => "margin-top:2%; margin-right:5%"}
      = link_to 'ثبت فاکتور دریافتی', new_account_document_path(:factor_type => "received"), :class => "btn btn-default"
      = link_to 'ثبت فاکتور هزینه ها', new_account_document_path(:factor_type => "cost"), :class => "btn btn-default"
      = link_to 'فاکتور مشتری', new_account_document_path(:factor_type => "customer"), :class => "btn btn-default"
      = link_to 'محاسبه سود', profit_account_documents_path, :class => "btn btn-default"
      = link_to 'بازگشت',accounting_path 
        
  
  .factor_table
    %table.table.table-striped{id:"account_table"}
      %thead
        %tr      
          %th ردیف
          %th تاریخ ثبت
          %th مبلغ به ریال
          %th پرداخت به آقای/خانم/شرکت
          %th پرداخت توسط آقای/خانم/شرکت
          %th بابت
          %th نوع فاکتور
          %th وضعیت
          %th شماره فیزیکی فاکتور
          %th توضیحات
          %th
       
      %tbody
        - @account_documents.each_with_index do |account_document, i|
          %tr
            %td= (i+1)
            %td              
              = JalaliDate.new(account_document.created_at)
            %td= account_document.value
            
            %td= account_document.paid_to
            
            %td= account_document.paid_by
            %td
              - if account_document.payment_group.present?
                = account_document.payment_group.title
            %td= account_document.factor_type
            %td.factor-status{:class => account_document.id}
              - if account_document.status
                فاکتور نهایی
              - else
                پیش فاکتور
            %td= account_document.physical_factor_number
            %td= account_document.description        
            
            %td
              - if account_document.status
                %b= 'تایید شده'
              - else
                .confirm-link{:id => account_document.id}= link_to 'تایید', confirm_account_document_path(account_document), :remote => true, :class => "btn btn-success"
              = link_to 'مشاهده', account_document            
              = link_to 'ویرایش', edit_account_document_path(account_document)
              = link_to 'حذف', account_document, :method => :delete, :data => { :confirm => 'Are you sure?' }

  
  


:coffeescript
  window.reloadDataTable = ->
    if !!window.oTable
      window.oTable.fnDestroy(); 
    window.oTable = $("#account_table").dataTable aoColumnDefs: [
      bSearchable: false
      aTargets: [0,8]
    ,  
      bSortable: false
      aTargets: [0,8]
    ],  oLanguage:
      sSearch: "جستجو:"
      sLengthMenu: "نمایش _MENU_ ردیف"
      sInfo: "جمع ردیفها _TOTAL_ ردیف (_START_ از _END_)"
      sZeroRecords: "هیچ داده ای وجود ندارد"
      sInfoEmpty: "هیچ موردی یافت نشد"
      sInfoFiltered: " - از بین _MAX_ داده موجود"
      oPaginate:
        sPrevious: "صفحه قبلی"
        sNext: "صفحه بعدی"

  window.reloadDataTable()


