%p#notice= notice

%p
  %b Payment date:
  = @account_document.payment_date
%p
  %b Value:
  = @account_document.value
%p
  %b Paid to:
  = @account_document.paid_to
%p
  %b Paid by:
  = @account_document.paid_by
%p
  %b Payment group:
  = @account_document.payment_group_id
%p
  %b Physical factor number:
  = @account_document.physical_factor_number
%p
  %b Description:
  = @account_document.description

= link_to 'Edit', edit_account_document_path(@account_document)
\|
= link_to 'Back', account_documents_path
