.fa.set-center
  .col-sm-12.avoid-this.pull-right.margin5
    %p#notice= notice
    .print-box.col-sm-2
      = link_to  '#', :id => "print" do
        = image_tag 'print.png'
        %p  چاپ فاکتور با سایز A4
    .print-box.col-sm-2
      = link_to  '#', :id => "printa5" do
        = image_tag 'print.png'
        %p  چاپ فاکتور با سایز A5
    .print-box.col-sm-2
      = link_to  '#', :id => "printa4s" do
        = image_tag 'print.png'
        %p  چاپ فاکتور با سایز A4 و سربرگ
    .print-box.col-sm-2
      = link_to  '#', :id => "printa5s" do
        = image_tag 'print.png'
        %p  چاپ فاکتور با سایز A5 و سربرگ
    - if is_admin?
      = link_to 'ویرایش', edit_account_document_path(@account_document), :class => "btn btn-info"
      \|
      = link_to 'بازگشت', account_documents_path
  .show-factor.fa.col-sm-12
    .header      
      .header-img.avoid-this= image_tag 'header-small.jpg'
      .header-date        
        %p.fa
          %b.header-date-title.avoid-this.col-sm-6.pull-right تاریخ :
          .show-date.col-sm-6= JalaliDate.new(@account_document.created_at)
        %p.fa
          %b.header-date-title.avoid-this.col-sm-6.pull-right شماره فاکتور
          .show-number.col-sm-6=@account_document.factor_number
        .not-nesesery.clear-float.avoid-this
          %p.fa
            - if @account_document.payment_date.present?
              %b.header-date-title.avoid-this.col-sm-6.pull-right= 'تاریخ پرداخت'                   
              .avoid-this.col-sm-6= JalaliDate.new(@account_document.payment_date)
          %p.fa
            %b.col-sm-6.pull-right.header-date-title.avoid-thisشماره فیزیکی فاکتور:
            .avoid-this.col-sm-6= @account_document.physical_factor_number
        .clear-float
    .body-factor
      %p.fa
        %b خریدار:
        = @account_document.paid_by
      %p.fa
        %b شرح:
        = @account_document.description
      
      .clear-float      
      %div
        %table{id:"account_table"}
          %thead
            %tr.first{:class => I18n.locale}      
              
              %th{:class => I18n.locale}       ردیف
              %th{:class => I18n.locale}       شرح کالا و خدمات
              %th{:class => I18n.locale}       تعداد
              %th{:class => I18n.locale}       فی
              %th{:class => I18n.locale}       مبلغ به ریال
              %th.avoid-this{:class => I18n.locale}       حذف
          %tbody
            - @account_document.factor_details.each_with_index do |fd, i| 
              %tr
                
                %td.fa= (i+1)
                %td.fa= fd.object_name
                %td.fa= fd.number_of
                %td.fa= number_to_currency(fd.objecct_price , :unit => " ", format: "%n %u", :precision => 0)                
                 
                %td.fa.object_amount= number_to_currency(fd.object_amount , :unit => " ", format: "%n %u", :precision => 0)                
                
                %td.avoid-this.remove= link_to 'حذف', fd, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }
            %tr.sum{:style => "background:#BFBFBF"}
              %th{:class => I18n.locale, :colspan=>3} جمع هزینه ها به ریال
              
              - if @account_document.primary_value.present? && !@account_document.factor_details.present?
                %th{:class => I18n.locale, :colspan=>2}= number_to_currency(@account_document.primary_value , :unit => " ", format: "%n %u", :precision => 0)                
                
              - else
                %th{:class => I18n.locale, :colspan=>2}
                  = number_to_currency(@account_document.factor_details.sum(:object_amount) , :unit => " ", format: "%n %u", :precision => 0)                
                  
                
            - if @account_document.takhfif_precent.present?
              %tr.takhfif{:class => I18n.locale}      
                %th{:class => I18n.locale, :colspan=>2}درصد تخفیف
                %td{:class => I18n.locale, :colspan=>1}= @account_document.takhfif_precent.to_s + '% مبلغ فوق'
                
                %td{:class => I18n.locale, :colspan=>2}
                  - if @account_document.takhfif_amount.present? && @account_document.takhfif_amount != 0
                    = number_to_currency(@account_document.takhfif_amount , :unit => "ریال ", format: "%n %u", :precision => 0)
                    
                  - else
                    %span ---
              
                
                
            - if @account_document.installation_cost_precent.present? &&  @account_document.installation_cost_precent != 0
              %tr
                %td.fa{:class => I18n.locale, :colspan=>2}= @account_document.installation_cost_title
                %td.fa{:class => I18n.locale, :colspan=>1}= @account_document.installation_cost_precent.to_s + '% مبلغ فوق'
                  
                %td.fa{:class => I18n.locale, :colspan=>2, :style => "text-align:center"}
                  - if @account_document.installation_cost.present? && @account_document.installation_cost != 0
                    = number_to_currency(@account_document.installation_cost, :unit => "ریال ", format: "%n %u", :precision => 0)
                    
                  - else
                    %span ---
                  
            %tr.sum.bolder
              %th{:class => I18n.locale, :colspan=>3} جمع کل به ریال              
              %th{:class => I18n.locale, :colspan=>2}= number_to_currency(@account_document.value, :unit => "ریال ", format: "%n %u", :precision => 0)
        - if @account_document.tavajoh.present?
          .tavajoh
            %b.fa توجه:
            .fa= raw @account_document.tavajoh        
        .sign
          .col-sm-2
          .col-sm-3{:style => "text-align:center"}
            %p با تشکر
            %p مدیرعامل اخوان راد
        .clear-float    
      - if @account_document.factor_type = 'cost' 
        .show-scan-file.avoid-this
          
          - if @account_document.scan_file.present?
            %b تصویر فاکتور
            =link_to @account_document.scan_file.url, :target => "_blank" do          
              .link.burchure-link
                .button.bacher.vanr.object.btnw30{waittime: "300"}                  
                  .icon
                    = image_tag "ICON/pdf-icon.png", height: "40", width: "40", :alt => "دانلود بروشور راش", :title => "بروشور راش"
          
    .factor_footer.avoid-this      
      .footer-img= image_tag 'footer-small.jpg'
  
:javascript
  $('a#print').click(function(){
    $('body').css('position', 'absolute');
    window.print();
  });
 
