.fa.set-center 
  .btnw10.avoid-this.pull-right 
    %p#notice= notice
    = link_to_function((image_tag 'print.png'), "javascript:print()")    
    .pull-right= 'چاپ فاکتور'
    - if is_admin?
      = link_to 'Edit', edit_account_document_path(@account_document)
      \|
      = link_to 'Back', account_documents_path
  .show-factor.fa.pull-left.width80    
    .header
      .header-img= image_tag 'header-small.jpg'
      .header-date
        %p.fa
          %b تاریخ پرداخت:
          = JalaliDate.new(@account_document.payment_date)
        %p.fa
          %b تاریخ ثبت فاکتور:
          = JalaliDate.new(@account_document.created_at)
        %p.fa
          %b شماره فیزیکی فاکتور:
          = @account_document.physical_factor_number
        .clear-float
    .body-factor        
      %p.pull-right.fa
        %b مبلغ:
        = @account_document.value
      %p.pull-right.fa
        %b بابت:
        = @account_document.payment_group.title
      %p.pull-right.fa
        %b پرداخت به:
        = @paid_to.title
      %p.pull-right.fa
        %b پرداخت توسط:
        = @paid_by.title
      .clear-float      
          
      %p.fa
        %b توضیحات:
        = @account_document.description
    .factor_footer
      .footer-img= image_tag 'footer-small.jpg'
  
