= form_for @portfolio do |f|
  - if @portfolio.errors.any?
    #error_explanation      
      %ul
        - @portfolio.errors.full_messages.each do |msg|
          %li= msg
  .col-xs-5.margin5
    .form-group
      = f.label :title_en, :class => "control-label"
      = f.text_field :title_en, :class => "form-control"
    .form-group
      = f.label :title_fa, :class => "control-label"
      = f.text_field :title_fa, :class => "form-control"
    .form-group
      = f.label :description_en, :class => "control-label"
      = f.text_field :description_en, :class => "form-control"
    .form-group
      = f.label :description_fa, :class => "control-label"
      = f.text_field :description_fa, :class => "form-control"
  .col-xs-5.margin5
    .form-group
      = f.label :service, :class => "control-label"
      = f.select(:service_id, Service.find(:all).collect {|u| [u.title, u.id]}, :prompt => 'Select Service')      
    .form-group
      = f.label :website, :class => "control-label"
      = f.text_field :website, :class => "form-control"
    .form-group
      = f.label :image, :class => "control-label"
      = f.file_field :image
    .form-group
      = f.submit  'save', :class => "btn btn-default"

