%h1 Listing portfolios

%table
  %tr
    %th Title en
    %th Title fa
    %th Description en
    %th Description fa
    %th Date
    %th Service
    %th Website
    %th
    %th
    %th

  - @portfolios.each do |portfolio|
    %tr
      %td= portfolio.title_en
      %td= portfolio.title_fa
      %td= portfolio.description_en
      %td= portfolio.description_fa
      %td= portfolio.date
      %td= portfolio.service_id
      %td= portfolio.website
      %td= link_to 'Show', portfolio
      %td= link_to 'Edit', edit_portfolio_path(portfolio)
      %td= link_to 'Destroy', portfolio, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Portfolio', new_portfolio_path
