.fa.width80.set-center
  %h1 لیست نمونه کارها

  %table.table
    %tr
      %th عنوان    
      %th توضیحات    
      %th تاریخ
      %th سرویس مربوط
      %th وب سایت    
      %th

    - @portfolios.each do |portfolio|
      %tr
        %td{:class => I18n.locale}=link_to portfolio.title, portfolio      
        %td= portfolio.description
        %td= JalaliDate.new(portfolio.created_at)
        %td= portfolio.service_id
        %td.portfolio_img= link_to portfolio.website, url_with_protocol(portfolio.website), :target => "blank"
        %td
          = link_to (image_tag 'edit.png', :alt => "edit"), edit_portfolio_path(portfolio)
          = link_to (image_tag 'del.png', :alt => "delete"), portfolio, :method => :delete, :data => { :confirm => 'Are you sure?' }
          

  %br

  = link_to 'New Portfolio', new_portfolio_path, :class => "btn btn-default"
