.fa.width80.set-center
  %p#notice= notice
  .col-xs-6
    = image_tag @portfolio.image(:medium)
  .col-xs-6
    %p
      %b عنوان
      = @portfolio.title
    %p
      %b توضیحات
      = @portfolio.description    
    %p
      %b تاریخ
      = @portfolio.date
    %p
      %b نوع سرویس
      = @portfolio.service.title
    %p
      %b وب سایت
      = @portfolio.website
      
    - if is_admin?
      = link_to (image_tag 'edit.png', :alt => "edit"), edit_portfolio_path(@portfolio)
      = link_to (image_tag 'del.png', :alt => "delete"), @portfolio, :method => :delete, :data => { :confirm => 'Are you sure?' }
