.fa.width80.set-center
  %p#notice= notice

  %p
    %b نوع دوربین:
    = @camera_model.subservice.title
  %p
    %b عنوان:
    = @camera_model.title
  %p
    %b توضیحات
    = @camera_model.description
    
  - if is_admin?
    = link_to 'Edit', edit_camera_model_path(@camera_model)
    \|
    = link_to 'Back', camera_models_path
