= form_for @design_sample do |f|
  - if @design_sample.errors.any?
    #error_explanation
      %h2= "#{pluralize(@design_sample.errors.count, "error")} prohibited this design_sample from being saved:"
      %ul
        - @design_sample.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_area :website
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :date
    = f.date_select :date
  .actions
    = f.submit 'Save'
