.fa    
  %h5.title= 'Admin Menu'
  %ul.items
    %li
      = link_to 'Home page', root_path
    %li
      = link_to 'مدیریت کاربران آنلاین', url_with_protocol('http://online.1abzar.com/'), :target => "_blank"
    %li
      = link_to 'پروفایل مدیرسایت', edit_user_path(current_user)
    %li
      = link_to 'مدیریت سرویس ها', Service
    %li
      = link_to 'مدیریت تیم کاری', Team    
    %li
      = link_to 'مدیریت زیرگروه ها', Subservice
    %li
      = link_to 'مدیریت نمونه کاری', Portfolio
  
    %li
      = link_to 'افزودن زیرمنو کشویی', Submenu
    %li
      = link_to 'مدیریت تعرفه قیمت', TariffPrice
    %li
      = link_to 'مشاهده جزئیات سفارشات', OrderOnline
    %li
      = link_to 'حسابداری', accounting_path
    %li
      = link_to 'مدیریت نامه ها', Letter
    %li
      = link_to 'مدیریت مشتریان', Customer
    %li
      = link_to 'دفترچه تلفن', contacts_path
    %li
      = link_to 'خروج', delete_session_path

   
