%div     
  %h5.title= 'Admin Menu'
  %ul.items
    %li
      = link_to 'Home page', root_path
    %li
      = link_to 'Admin Profile', edit_user_path(current_user)
    %li
      = link_to 'Manage Services', Service
    %li
      = link_to 'Manage Our Team', Team    
    %li
      = link_to 'Set Sub Service', Subservice
    %li
      = link_to 'Manage Portfolio', Portfolio
    %li
      = link_to 'Add Camera Model', CameraModel
    %li
      = link_to 'Manage Tariff Price', TariffPrice
    %li
      = link_to 'مشاهده جزئیات سفارشات', OrderOnline
    %li
      = link_to 'Accounting', accounting_path
    %li
      = link_to 'خروج', delete_session_path

   
