.clear-float
.phone.col-md-8.responsive-phone-show
  
  .facebook
    = link_to url_with_protocol('www.facebook.com/Raush.Co') do
      = image_tag "face.png", height: "30",  width: "30"
    
    = link_to url_with_protocol('www.facebook.com/Raush.Co') do
      = image_tag "googleplus.png", height: "30",  width: "30"
    = link_to url_with_protocol('www.facebook.com/Raush.Co') do
      = image_tag "linkedin.png", height: "30",  width: "30"
    = link_to url_with_protocol('www.facebook.com/Raush.Co') do
      = image_tag "tewtter.png", height: "25",  width: "25"
    
  .language.fa{"data-no-turbolink"=>"true"}
    Language  
    = link_to 'ENG', locale: :en
    \|
    = link_to 'FA', locale: :fa 
    
.address.col-md-4
  .addfooter{:class => I18n.locale}
    - if I18n.locale == :fa
      %h4
        %strong رضاشهر - بلوار دعبل خزائی - دعبل خزائی ۷ - پلاک ۱۳۴
      %p
        
        %strong تلفن: ۳۸۷۸۳۸۶۳-۰۵۱           فکس: ۳۸۷۸۴۱۲۸-۰۵۱

        %strong{:style => "margin-right:5%;"} ایمیل: info@raush.ir
    - else
      %h4
        %strong No. 134 7th Ave KHazayi Rezashar Mashhad Iran
      %p
        
        %strong TEL: 051-38783863             FAX: 051-38784128
        %strong EMAIL: info@raush.ir

          
.clear-float
/ end FOOTER
