.col-md-push-3.icons
  #idbmsicon.col-md-2.servic-menu.bgbms{"div-name" => "idbms"}
    = image_tag 'ICON/Bms4.png', height: "85", width: "108"
    
  #idneticon.col-md-2.servic-menu.bgnet{"div-name" => "idnet"}
    = image_tag 'ICON/Network.png', height: "91", width: "119"    
    
  #idwebicon.col-md-2.servic-menu.bgweb{"div-name" => "idweb"}    
    = image_tag 'ICON/web.png', height: "85", width: "108"
    
  #idgraphicicon.col-md-2.servic-menu.bggraphic{"div-name" => "idgraphic"}
    = image_tag 'ICON/Design.png', height: "85", width: "108"
    
  #idcameraicon.col-md-2.servic-menu.bgcamera{"div-name" => "idcamera"}
    = image_tag 'ICON/cctv2 cam.png', height: "85", width: "108"
    
  .clear-float
.col-md-pull-9.logo
  #idhomeicon.bghome.servic-menu.servic-menuhome{"div-name" => "idhome"}
    = image_tag 'ICON/logo end.png', height: "69", width: "174"
    
/ end of menu
