.icons
  #idbmsicon.col-md-2.servic-menu.bgbms{"div-name" => "idbms"}
    = image_tag 'ICON/هوشمندسازی ساختمان.png', height: "85", width: "108"
    
  #idneticon.col-md-2.servic-menu.bgnet{"div-name" => "idnet"}
    = image_tag 'ICON/نصب شبکه.png', height: "91", width: "119"    
    
  #idwebicon.col-md-2.servic-menu.bgweb{"div-name" => "idweb"}    
    = image_tag 'ICON/طراحی وب سایت.png', height: "85", width: "108"
    
  #idgraphicicon.col-md-2.servic-menu.bggraphic{"div-name" => "idgraphic"}
    = image_tag 'ICON/طراحی گرافیکی.png', height: "85", width: "108"
    
  #idcameraicon.col-md-2.servic-menu.bgcamera{"div-name" => "idcamera"}
    = image_tag 'ICON/نصب دوربین مداربسته.png', height: "85", width: "108"
    
  .clear-float
.logo
  #idhomeicon.bghome.servic-menu.servic-menuhome{"div-name" => "idhome"}
    = image_tag 'ICON/گروه مهندسی راش.png', height: "69", width: "174"
    
/ end of menu
