= form_for @customer do |f|
  - if @customer.errors.any?
    #error_explanation      
      %ul
        - @customer.errors.each do |attr, msg|
          %li= msg

  .margin5.fa
    .col-sm-5.pull-right
      .form-group
        = f.label 'نام و نام خانوادگی', :class => "control-label"
        = f.text_field :title, :class => "form-control"
      .form-group
        = f.label 'تاریخ ثبت قرارداد', :class => "control-label"
        = f.text_field :contract_start_date, :class => "fa_date form-control"
        
      .form-group
        = f.label 'تاریخ اتمام قرارداد'  , :class => "control-label"
        = f.text_field :contract_end_date, :class => "fa_date form-control"
      .form-group
        = f.label 'سرویس مربوطه را انتخاب کنید.', :class => "control-label"
        = f.select(:service_id, Service.all.collect {|u| [u.title, u.id]}, :prompt => ' سرویس مربوطه ...') 
        
    .form-group.clear-float      
      = f.label 'توضیحات', :class => "control-label"
      .editor
        = f.text_area :description, :class => "form-control ckeditor" 
    
    .form-group
      = f.submit 'ثبت', :class => "btn btn-default"
:javascript
  $('.fa_date').datepicker()
