%ul.search-result
  -result.each do |result|
    %li
      %b= 'نام شخص:'
      = result.preson_name
      %br
      %b= 'نام شرکت:'
      = result.company_name
      %br
      %b= 'شماره تماس:'
      = result.phone
      %br
      %b= 'فاکس:'
      = result.fax
      %br
      %b= 'آدرس:'
      = result.address
    - if is_admin?
      .contact-link
        = link_to 'ویرایش', edit_contact_path(result)
        \|
        = link_to 'حذف', result, :method => :delete, :data => { :confirm => 'Are you sure?' }
