.width80.fa.set-center   
  %p#notice= notice

  %p.fa
    %b نام شخص:
    = @contact.preson_name
  %p.fa
    %b نام شرکت:
    = @contact.company_name
  %p.fa
    %b تلفن:
    = @contact.phone
  %p.fa
    %b فکس:
    = @contact.fax
  %p.fa
    %b آدرس:
    = @contact.address
  - if is_admin?
    .fa
      = link_to 'Edit', edit_contact_path(@contact)
      \|
      = link_to 'Back', contacts_path
