.accounting.fa
  %h1= 'بخش حسابداری'
  .partition.set-center
    = link_to RelatedPerson do
      .boxes
        %h3.title= 'افراد مرتبط'
        = image_tag 'people.png'
        
    = link_to PaymentGroup do        
      .boxes
        %h3.title= 'عناوین فاکتور'
        = image_tag 'factor.png'
        
    = link_to AccountDocument do
      .boxes
        %h3.title= 'ثبت فاکتور جدید'
        = image_tag 'set-factor.png'  
    = link_to '#' do
      .boxes
        %h3.title= 'دفترچه تلفن'
        = image_tag 'acc.png'
        
  
