#idhome.servic-descriptipn.bghome.diplaynone{style: "display:block"}
  %div
    #home
      .col-xs-6
        #axis.one.picture-sample
          = image_tag "raush-logo.jpg", :id => 'homemoo', :class => 'object bache van'
        #axis.one.about-us.diplaynone 
          %div{:style => "margin:30px; padding-top:20px"}  
            %p
              kf dsnf lsdnf lsdnf slkdnf lskdjnf o;nf lkndf lsdnf lsndf lsdnf lsdnf lsdnf lsdnf lsdjnf sljn 
            .link
              #btn-bk-about.button.set-center.btnw30
                .item= t('back')
                .icon
                  = image_tag "back.png", height: "40" , width: "40"
                .clear-float
      .col-xs-6
        #hometext.text.vanr.bacher.object{waittime: "200"} inja yek chizi midim
        .link
          #homebtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item= t('about-us')
            .icon
              = image_tag "ICON/bms2.png",height: "40",  width: "40"
            .clear-float
          #homebtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item= t('our-team')
            .icon
              = image_tag "ICON/bms2.png", height: "40", width: "40"
            .clear-float
          #homebtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            .item= t('Order-Online')
            .icon
              = image_tag "ICON/bms2.png",height: "40", width: "40"
            .clear-float
        .clear-float
    #order-online.diplaynone.servic-descriptipn1
      .width80.set-center
        %h2= t ('Order-Online')
        %div{:class => I18n.locale}
          = render "order_onlines/form" 
        .clear-float
      .link
        #btn-bk-order.button.set-center.btnw10
          .item= t('back')
          .icon
            = image_tag "back.png", height: "40" , width: "40"
          .clear-float
    /end order-online
    
    #our-team.diplaynone.servic-descriptipn1
      .width80.set-center        
        = render "teams/index"
        .clear-float
      .link
        - if is_admin?
          .btnw30= link_to 'فرد جدید', new_team_path          
        %br        
        #btn-bk-team.button.set-center.btnw10
          .item= t('back')
          .icon
            = image_tag "back.png", height: "40" , width: "40"
          .clear-float
    /end our team
    
  / end home!
/ end HOME
#idbms.servic-descriptipn.bgbms.diplaynone
  %div
    #b-info
      .col-xs-6
        #axis.one
          = image_tag "PICTURE/BMS.png", waittime: "500", :id => 'moo', :class => 'object bache van'
      .col-xs-6
        #bmstext.text.bacher.vanr.object{waittime: "200"} inja yek chizi midim
        .link
          #bmsbtn1.button.vanr.bacher.object.btnw30{waittime: "300"}
            .item HOTEL
            .icon
              = image_tag "ICON/bms2.png",height: "40", width: "40"
            .clear-float
          #bmsbtn2.button.vanr.bacher.object.btnw30{waittime: "350"}
            .item HOME
            .icon
              = image_tag "ICON/bms2.png", height: "40" , width: "40"
            .clear-float
          #bmsbtn3.button.vanr.bacher.object.btnw30{waittime: "400"}
            .item{align: "justify"} OFFICE
            .icon
              = image_tag"ICON/bms2.png", height: "40", width: "40"
            .clear-float
        .clear-float
  / end BMS
  #b-details
    / iiii
    #hotel.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag "smart-hotel.jpg"
        .link
          #btnbhotel.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40" , width: "40"
      .box-text{:class => I18n.locale}
        %h2= t('bms.hotel')
        .details-text{:class => I18n.locale}
          - if I18n.locale == :fa
            = render "shared/hotel_text_fa"
          - else
            = render "shared/hotel_text_en"         
          
      
          .clear-float
      / end box text
    / END HOTEL
    #house.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag 'smart-house.jpg'
      .box-text{:class => I18n.locale}
        %h2= t('bms.home')
        .details-text{:class => I18n.locale}
          - if I18n.locale == :fa
            = render "shared/home_text_fa"
          - else
            = render "shared/home_text_en"
        .link
          #btnbhome.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40"
            .clear-float
      / end box
    / END houes
    #office.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag 'smart-office.jpg'
      .box-text{:class => I18n.locale}
        %h2= t('bms.office')
        .details-text{:class => I18n.locale}
          - if I18n.locale == :fa
            = render "shared/office_text_fa"
          - else
            = render "shared/office_text_en"
        .link
          #btnboffice.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40"
            .clear-float
      / end box
    / END Office
  / iiii
#idnet.servic-descriptipn.bgnet.diplaynone
  %div
    #n-info
      .col-xs-6
        #axis.one
          = image_tag "PICTURE/NET.png", :id => "netmoo", :class => 'object bache van'
      .col-xs-6
        #nettext.text.bacher.vanr.object{waittime: "200"} Access everything everywhere
        .link
          #netbtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item WAN
            .icon
              = image_tag "ICON/bms2.png", height: "40", width: "40"
            .clear-float
          #netbtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item LAN
            .icon
              = image_tag "ICON/bms2.png", height: "40", width: "40"
            .clear-float
          #netbtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            .item VOIP
            .icon
              = image_tag "ICON/bms2.png", height: "40", width: "40"
            .clear-float
        .clear-float
  / end NETORK
  #b-details
    / iiii
    #wan.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag "raush-logo.jpg"
      .box-text
        %h2 WAN Information
        .details-text
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
        .link
          #btnbwan.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40"
            .clear-float
      / end box text
    / END HOTEL
    #lan.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag "raush-logo.jpg"
      .box-text
        %h2 lan Information
        .details-text
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
        .link
          #btnblan.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png",height: "40" , width: "40"
            .clear-float
      / end box
    / END houes
    #voip.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag "raush-logo.jpg"
      .box-text
        %h2 VOIP Information
        .details-text
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
        .link
          #btnbvoip.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40"
            .clear-float
      / end box
    / END voip
  / iiii
#idweb.servic-descriptipn.bgweb.diplaynone  
  #web-info
    .col-xs-6
      #axis.one
        = image_tag  @web.image(:large), :id => "webmoo" , :class => 'object bache van'
    .col-xs-6
      #webtext.text.bacher.vanr.object{waittime: "200"}= @web.description
      .link
        #webbtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
          .item= t('Portfolio')
          .icon
            = image_tag "ICON/bms2.png",height: "40" , width: "40"
          .clear-float
        #webbtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
          .item= t('Tariff-Price')
          .icon
            = image_tag "ICON/bms2.png", height: "40", width: "40"
          .clear-float
       
      .clear-float
  #web-details
    .prtofilo.diplaynone.servic-descriptipn1
      #axis.show-demo.set-center
        .sample-pic1
          .sample-pic2.set-center
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
        .control            
          .prev
            = image_tag 'go-up.png'
          .next
            = image_tag 'go-down.png'         
      .link
        #btn-web-prto.button.set-center.btnw10
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40"
          .clear-float
    
/ end WEB
#idgraphic.servic-descriptipn.bggraphic.diplaynone
  %div
    #g-info
      .col-xs-6
        #axis.one
          = image_tag "PICTURE/GRAPHIC.png", :id => "graphicmoo" , :class => 'object bache van'
      .col-xs-6
        #graphictext.text.bacher.vanr.object{waittime: "200"} good desing is good business
        .link
          #graphicbtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item= t('Portfolio')
            .icon
              = image_tag "ICON/bms2.png",height: "40" , width: "40"
            .clear-float
          #graphicbtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item= t('Tariff-Price')
            .icon
              = image_tag "ICON/bms2.png",height: "40" , width: "40"
            .clear-float
          
        .clear-float
  / end GRAPHIC
  #g-details
    / iiii
    #prtofilo.diplaynone.servic-descriptipn1
      #axis.show-demo.set-center
        .sample-pic1
          .sample-pic2.set-center
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
            = image_tag "raush-logo.jpg"
        .control            
          .prev
            = image_tag 'go-up.png'
          .next
            = image_tag 'go-down.png'         
      .link
        #btnbprtofilo.button.set-center.btnw10
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40"
          .clear-float
    / END HOTEL
    #price.diplaynone.servic-descriptipn1
      #axis.sample-pic1
        = image_tag "raush-logo.jpg"
      .box-text
        %h2 price Information
        .details-text
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
        .link
          #btnblan.button.set-center.btnw10
            .item= t('back')
            .icon
              = image_tag "back.png",height: "40", width: "40"
            .clear-float
      / end box
    / END houes
  / iiii
#idcamera.servic-descriptipn.bgcamera.diplaynone
  %div
    #c-info
      .col-xs-6
        #axis.one
          = image_tag "PICTURE/CCTV.png", :id => "cameramoo" , :class => 'object bache van'
      .col-xs-6
        #cameratext.text.bacher.vanr.object{waittime: "200"} i can see you !!
        .link
          #camerabtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item Fam
            .icon
              = image_tag "ICON/bms2.png",height: "40",width: "40"
            .clear-float
          #camerabtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item Hikvision
            .icon
              = image_tag "ICON/bms2.png",height: "40", width: "40"
            .clear-float
          #camerabtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            .item Sesco
            .icon
              = image_tag "ICON/bms2.png",height: "40", width: "40"
            .clear-float
        .clear-float
/ end CAMERA
#c-details
  / iiii
  #fam.diplaynone.servic-descriptipn1
    #axis.show-demo.set-center
      .sample-pic1
        .sample-pic2
          = image_tag "raush-logo.jpg"
          = image_tag "raush-logo.jpg"
          = image_tag "raush-logo.jpg"
          = image_tag "raush-logo.jpg"
          = image_tag "raush-logo.jpg"
          
    .link
      #btnbfam.btn-back.set-center
        .item= t('back')
        .icon
          = image_tag "back.png", height: "40",width: "40"
        .clear-float
  / END HOTEL
/ end DESCRAPTION

:javascript

  $('#g-details #prtofilo .control .next').click(function(){
    $('#g-details .sample-pic1 .sample-pic2').animate({marginTop:"+=200px"});
  });
  
  $('#g-details #prtofilo .control .prev').click(function(){
    $('#g-details .sample-pic1 .sample-pic2').animate({marginTop:"-=200px"});
  });

  $('#web-details .prtofilo .control .next').click(function(){
    $('#web-details .sample-pic1 .sample-pic2').animate({marginTop:"+=200px"});
  });
  
  $('#web-details .prtofilo .control .prev').click(function(){
    $('#web-details .sample-pic1 .sample-pic2').animate({marginTop:"-=200px"});
  });


  
