#idhome.servic-descriptipn.bghome.diplaynone{style: "display: block"}
  .col-xs-6 pic
  .col-xs-6
    .text inja yek chizi midim
    .link
      
      
    .clear-float
#idbms.servic-descriptipn.bgbms.diplaynone
  .col-xs-6 pic
  .col-xs-6
    .text Active energy solution
    .link
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
    .clear-float
#idnet.servic-descriptipn.bgnet.diplaynone
  .col-xs-6 pic
  .col-xs-6
    .text Access everything everywhere
    .link
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
    .clear-float
#idweb.servic-descriptipn.bgweb.diplaynone
  .col-xs-6 pic
  .col-xs-6
    .text ease of use, performance and innovation
    .link
      .button            
        = link_to tariff_prices_path do
          .item
            تعرفه قیمت
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        = link_to design_samples_path do
          .item
            نمونه کارها
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        = link_to '#' do
          .item
            فروش هاست
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        = link_to '#' do
          .item
            سفارش آنلاین
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
    .clear-float
#idgraphic.servic-descriptipn.bggraphic.diplaynone
  .col-xs-6 pic
  .col-xs-6
    .text good desing is good business
    .link
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
    .clear-float
#idcamera.servic-descriptipn.bgcamera.diplaynone
  .col-xs-6 pic
  .col-xs-6
    .text i can see you !!
    .link
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
        
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
      .button
        .item tarefe gheimat
        .icon
          = image_tag "ICON/bms2.png", width: "40", height: "40"              
        .clear-float
    .clear-float




 
