#idhome.servic-descriptipn.bghome.diplaynone{style: "display:block"}
  %div
    #home
      .col-xs-9
        #axis.one.picture-sample
          = image_tag "logoend.png", :id => 'homemoo', :class => 'object bache van', :title => "گروه مهندسی راش", :alt => "گروه مهندسی راش"
        #axis.one.about-us.diplaynone{:style => "width:100%; height:100%"}   
          %div{:style => "margin:30px; padding-top:20px"}  
            - if I18n.locale == :fa
              %p{:style => "direction:rtl; text-align:justify"}
                = render 'shared/about_fa'
            - else
              %p{:style => "direction:ltr; text-align:justify"}
                = render 'shared/about_en'
            .col-xs-5  
              .link
                #btn-bk-about.button.set-center.btnw10.back
                  .item= t('back')
                  .icon
                    = image_tag "back.png", height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
                  .clear-float
      .col-xs-3
        #hometext.text.vanr.bacher.object{waittime: "200"}
        .link
          #homebtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item= t('about-us')
            .icon
              = image_tag "ICON/aboutus.png",height: "40",  width: "40", :alt => "درباره راش", :title => "درباره شرکت راش"
            .clear-float
          #homebtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item= t('our-team')
            .icon
              = image_tag "ICON/ourteam.png", height: "40", width: "40", :alt => "تیم کاری راش", :title => "تیم کاری راش"
            .clear-float
          #homebtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            .item= t('Order-Online')
            .icon
              = image_tag "ICON/onlin.png",height: "40", width: "40", :alt => "سفارش آنلاین راش", :title => "سفارش آنلاین راش"
            .clear-float
        .clear-float
    #order-online.diplaynone.servic-descriptipn1
      .width80.set-center
        %h2= t ('Order-Online')
        %div{:class => I18n.locale}
          = render "order_onlines/form" 
        .clear-float
      
      .link
        #btn-bk-order.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png", height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
    /end order-online
    
    #our-team.diplaynone.servic-descriptipn1
      .width80.set-center        
        = render "teams/index"
        .clear-float
      
      .link
        
        #btn-bk-team.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png", height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
    /end our team
    
  / end home!
/ end HOME
#idbms.servic-descriptipn.bgbms.diplaynone
  %div
    #b-info
      .col-xs-6
        #axis.one          
          - if @bms.present?
            = image_tag  @bms.image(:large), waittime: "500", :id => 'moo', :class => 'object bache van', :alt => "هوشمندسازی ساختمان", :title => "هوشمندسازی ساختمان"
      .col-xs-6
        #bmstext.text.bacher.vanr.object{waittime: "200"}
          - if @bms.present?
            = @bms.description
        .link
          #bmsbtn1.button.vanr.bacher.object.btnw30{waittime: "300"}
            .item= t('bms.hotel')
            .icon
              = image_tag "ICON/Hotel.png",height: "40", width: "40", :alt => "هتل هوشمند", :title => "هتل هوشمند"
            .clear-float
          #bmsbtn2.button.vanr.bacher.object.btnw30{waittime: "350"}
            .item= t('bms.home')
            .icon
              = image_tag "ICON/home.png", height: "40" , width: "40", :alt => "خانه هوشمند", :title => "خانه هوشمند"
            .clear-float
          #bmsbtn3.button.vanr.bacher.object.btnw30{waittime: "400"}
            .item{align: "justify"}= t('bms.office')
            .icon
              = image_tag"ICON/office.png", height: "40", width: "40", :alt => "اداره هوشمند", :title => "اداره  هوشمند"
            .clear-float
        .clear-float
  / end BMS
  #b-details
    / iiii
    #hotel.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag @hotel.image(:large), :class => "sub-service-img", :title => "هتل هوشمند", :alt => "هتل هوشمند"
        .link
          #btnbhotel.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      .box-text{:class => I18n.locale}
        %h2= @hotel.title
        .details-text#about.nano{:class => I18n.locale}
          .nano-content=raw @hotel.text          
      
          .clear-float
      / end box text
    / END HOTEL
    #house.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag @house.image(:large), :class => "sub-service-img", :alt => "خانه هوشمند", :title => "خانه هوشمند"
        .link
          #btnbhome.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      .box-text{:class => I18n.locale}
        %h2= @house.title
        .details-text#about.nano{:class => I18n.locale}
          .nano-content=raw @house.text
        
      / end box
    / END houes
    #office.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag @office.image(:large), :class => "sub-service-img", :alt => "دفترکار هوشمند", :title => "دفترکار هوشمند"
        .link
          #btnboffice.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      .box-text{:class => I18n.locale}
        %h2= @office.title
        .details-text#about.nano{:class => I18n.locale}
          .nano-content=raw @office.text
        
      / end box
    / END Office
  / iiii
#idnet.servic-descriptipn.bgnet.diplaynone
  %div
    #n-info
      .col-xs-6
        #axis.one
          = image_tag @network.image(:large), :id => "netmoo", :class => 'object bache van', :alt => "نصب و راه اندازی شبکه", :title => "نصب و راه اندازی شبکه"
      .col-xs-6
        #nettext.text.bacher.vanr.object{waittime: "200"}
          = @network.description
        .link
          #netbtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item= t('net.wan')
            .icon
              = image_tag "ICON/wan.png", height: "40", width: "40", :alt => "شبکه شهری", :title => "شبکه شهری"
            .clear-float
          #netbtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item= t('net.lan')
            .icon
              = image_tag "ICON/lan.png", height: "40", width: "40", :alt => "شبکه محلی", :title => "شبکه محلی"
            .clear-float
          #netbtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            .item= t('net.voip')
            .icon
              = image_tag "ICON/voip.png", height: "40", width: "40", :alt => "شبکه ویپ", :title => "شبکه وویپ"
            .clear-float
        .clear-float
  / end NETORK
  #b-details
    / iiii
    #wan.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag @wan.image(:large), :class => "sub-service-img", :alt => "شبکه شهری", :title => "شبکه شهری"
        .link
          #btnbwan.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      .box-text{:class => I18n.locale}
        %h2= @wan.title
        .details-text#about.nano{:class => I18n.locale}
          .nano-content=raw @wan.text
        
      / end box text
    / END HOTEL
    #lan.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag @lan.image(:large), :class => "sub-service-img", :alt => "شبکه محلی", :title => "شبکه محلی"
        .link
          #btnblan.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png",height: "40" , width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      .box-text{:class => I18n.locale}
        %h2= @lan.title
        .details-text#about.nano{:class => I18n.locale}
          .nano-content=raw @lan.text
        
      / end box
    / END houes
    #voip.diplaynone.servic-descriptipn1
      #axis.sample-pic
        = image_tag @voip.image(:large), :class => "sub-service-img", :alt => "شبکه وویپ", :title => "شبکه وویپ"
        .link
          #btnbvoip.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png", height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      .box-text{:class => I18n.locale}
        %h2= @voip.title
        .details-text#about.nano{:class => I18n.locale}
          .nano-content=raw @voip.text
        
      / end box
    / END voip
  / iiii
#idweb.servic-descriptipn.bgweb.diplaynone  
  #web-info
    .col-xs-6
      #axis.one
        - if @web.present?
          = image_tag  @web.image(:large), :id => "webmoo" , :class => 'object bache van', :alt => "طراحی وب سایت", :title => "طراحی وب سایت"
    .col-xs-6
      #webtext.text.bacher.vanr.object{waittime: "200"}
        - if @web.present?
          =raw @web.description
      .link
        #webbtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
          .item= t('Portfolio')
          .icon
            = image_tag "ICON/Portfolio.png",height: "40" , width: "40", :alt => "نمونه کار وب سایت", :title => "نمونه کار وب سایت"
          .clear-float
        #webbtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
          .item= t('Tariff-Price')
          .icon
            = image_tag "ICON/Price.png", height: "40", width: "40", :alt => "تعرفه طراحی سایت", :title => "تعرفه طراحی سایت"
          .clear-float
       
      .clear-float
  #web-details
    .prtofilo.diplaynone.servic-descriptipn1
      #axis.show-demo.set-center
        .sample-pic1.nano
          .sample-pic2.set-center.nano-content
            - if @web_demos.present?
              - @web_demos.each do |portfolio|
                .col-xs-4.show-3box
                  %h4= portfolio.title                
                  - if portfolio.in_production                    
                    .in-production
                      = link_to (image_tag portfolio.image(:small), :alt => portfolio.image_file_name, :title => portfolio.image_file_name), url_with_protocol(portfolio.website), :target => "blank", :title => "طراحی وب سایت"
                  - else
                    = link_to (image_tag portfolio.image(:small), :alt => portfolio.image_file_name, :title => portfolio.image_file_name), url_with_protocol(portfolio.website), :target => "blank", :title => "طراحی وب سایت"
              
      
      .link
        #btn-web-prto.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
    
/ end WEB
#idgraphic.servic-descriptipn.bggraphic.diplaynone
  %div
    #g-info
      .col-xs-6
        #axis.one
          = image_tag @graphic.image(:large), :id => "graphicmoo" , :class => 'object bache van', :alt => "طراحی گرافیک", :title => "طراحی گرافیک"
      .col-xs-6
        #graphictext.text.bacher.vanr.object{waittime: "200"}
          = @graphic.description
        .link
          #graphicbtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item= t('Portfolio')
            .icon
              = image_tag "ICON/Portfolio.png",height: "40" , width: "40", :alt => "نمونه کار طراحی گرافیک", :title => "نمونه کار طراحی گرافیک"
            .clear-float
          #graphicbtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item= t('Tariff-Price')
            .icon
              = image_tag "ICON/Price.png",height: "40" , width: "40", :alt => "تعرفه قیمت طراحی گرافیک", :title => "تعرفه قیمت طراحی گرافیک"
            .clear-float
          
        .clear-float
  / end GRAPHIC
  #g-details
    / iiii
    #prtofilo.diplaynone.servic-descriptipn1
      #axis.show-demo.set-center
        .sample-pic1.nano
          .sample-pic2.set-center.nano-content
            - if @graphic_demos.present?
              - @graphic_demos.each do |portfolio|
                .col-xs-4.show-3box
                  %h4= portfolio.title                
                  = link_to (image_tag portfolio.image(:small), :alt => portfolio.image_file_name, :title => portfolio.image_file_name), url_with_protocol(portfolio.website), :target => "blank", :title => "طراحی گرافیک"
                    
           
      
      .link
        #btnbprtofilo.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
    / END HOTEL
    #price.diplaynone.servic-descriptipn1
      #axis.sample-pic1
        = image_tag "raush-logo.jpg", :alt => "گروه مهندسی راش", :title => "گروه مهندسی راش"
      .box-text
        %h2 price Information
        .details-text
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
          %p asdasdasd
        .link
          #btnblan.button.set-center.btnw10.back
            .item= t('back')
            .icon
              = image_tag "back.png",height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
            .clear-float
      / end box
    / END houes
  / iiii
#idcamera.servic-descriptipn.bgcamera.diplaynone
  %div
    #c-info
      .col-xs-6
        #axis.one
          
          = image_tag @camera.image(:large), :id => "cameramoo" , :class => 'object bache van', :alt => "نصب دوربین مدار بسته", :title => "نصب دوربین مدار بسته"
      .col-xs-6
        #cameratext.text.bacher.vanr.object{waittime: "200"}
          = @camera.description
        .link
          #camerabtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            .item Geovision
            .icon
              = image_tag "ICON/cam.png",height: "40",width: "40", :alt => "دوربین ژئوویژن", :title => "دوربین ژئوویژن"
            .clear-float
          #camerabtn2.button.bacher.vanr.object.btnw30{waittime: "350"}
            .item Hikvision
            .icon
              = image_tag "ICON/cam.png",height: "40", width: "40", :alt => "دوربین هایک ویژن", :title => "دوربین هایک ویژن"
            .clear-float
          #camerabtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            .item Dahua
            .icon
              = image_tag "ICON/cam.png",height: "40", width: "40", :alt => "دوربین داهووا", :title => "دوربین داهووا"
            .clear-float
        .clear-float

  #c-details 
    #fam.servic-descriptipn1.diplaynone
      #axis.show-demo.set-center
        .sample-pic1.nano
          .sample-pic2.set-center.nano-content
            - if @camera_fam.present?
              - @camera_fam.camera_models.each do |model|
                .col-xs-4.show-3box
                  .col-xs-12
                    = image_tag model.image(:medium), :alt => "دوربین مدار بسته", :title => "دوربین مدار بسته"
                  .set-center.txt-center
                    %b= model.title
                    %p= model.description
                  
            
          .clear-float
          
      .link
        #btnbfam.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
            
    #hikvision.servic-descriptipn1.diplaynone
      #axis.show-demo.set-center
        .sample-pic1.nano
          .sample-pic2.nano-content
            - if @camera_hik.present?
              - @camera_hik.camera_models.each do |model|
                .col-xs-4.show-3box
                  .col-xs-12
                    = image_tag model.image(:medium), :alt => "مدل های دوربین مدار بسته", :title => "مدل های دوربین مدار بسته"
                  .set-center= model.title
            
          .clear-float
            
      .link
        #btnbhik.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
            
    #sesco.servic-descriptipn1.diplaynone
      #axis.show-demo.set-center
        .sample-pic1.nano
          .sample-pic2.nano-content
            - if @camera_sesco.present?
              - @camera_sesco.camera_models.each do |model|
                .col-xs-4.show-3box
                  .col-xs-12
                    = image_tag model.image(:medium), :alt => "مدل دوربین مدار بسته", :title => "مدل دوربین مدار بسته"
                  .set-center= model.title
        
          .clear-float
           
      .link
        #btnbsesco.button.set-center.btnw10.back
          .item= t('back')
          .icon
            = image_tag "back.png",height: "40", width: "40", :alt => "بازگشت", :title => "گروه مهندسی راش"
          .clear-float
    / END HOTEL
  / end DESCRAPTION


  

:coffeescript
  $(document).ready ->
    $(".nano").nanoScroller()
    return

