#idhome.servic-descriptipn.bghome.diplaynone{style: "display:block"}
  %div
    #home
      .col-xs-9
        #axis.one.picture-sample
          = image_tag "logoend.png", :id => 'homemoo', :class => 'object bache van', :title => "گروه مهندسی راش", :alt => "گروه مهندسی راش"
       
      .col-xs-3.link_to_pages
        
        .link#home-link
          #homebtn1.button.bacher.vanr.object.btnw30{waittime: "300"}
            = link_to page_path(@aboutus) do
              .item{:class => I18n.locale}= t('about-us')
              .icon
                = image_tag "ICON/درباره راش.png",height: "40",  width: "40", :alt => "درباره راش", :title => "درباره شرکت راش"
            .clear-float
          #homebtn2.button.bacher.vanr.object.btnw30{waittime: "350"} 
            = link_to Team do
              .item{:class => I18n.locale}= t('our-team')
              .icon
                = image_tag "ICON/تیم کاری راش.png", height: "40", width: "40", :alt => "تیم کاری راش", :title => "تیم کاری راش"
            .clear-float
          #homebtn3.button.bacher.vanr.object.btnw30{waittime: "400"}
            = link_to new_order_online_path do
              .item{:class => I18n.locale}= t('Order-Online')
              .icon
                = image_tag "ICON/سفارش آنلاین راش.png",height: "40", width: "40", :alt => "سفارش آنلاین راش", :title => "سفارش آنلاین راش"
            .clear-float
        .clear-float

