= form_for @payment_group do |f|
  - if @payment_group.errors.any?
    #error_explanation      
      %ul
        - @payment_group.errors.full_messages.each do |msg|
          %li= msg
  .width80.fa.set-center 
    .form-group
      = f.label :title, :class => "control-label"
      = f.text_field :title, :class => "form-control"
    .form-group
      = f.submit 'ثبت', :class => "btn btn-default"
