.fa
  %h1 لیست سفارشات آنلاین
  %div{:style => "height:350px; overflow-y:scroll"}
    %table.table
      %tr
        %th ردیف
        %th نام کاربر
        %th تلفن تماس
        %th موبایل
        %th ایمیل
        %th نام شرکت
        %th وب سایت                
        %th
        

      - @order_onlines.each_with_index do |order_online, i|
        %tr
          %td= (i+1)
          %td= order_online.name
          %td= order_online.phone
          %td= order_online.mobile
          %td= order_online.email      
          %td= order_online.company_name
          %td= order_online.web_site
          
          
          - if is_admin?
            %td
              = link_to 'مشاهده', order_online
              \|
              = link_to 'حذف', order_online, :method => :delete, :data => { :confirm => 'Are you sure?' }

   
