.fa.set-center 
  .title{:style => "height:100px"}
    %h1.pull-right لیست پرداختی ها
    
  %table.table.table-striped{id:"account_table"}
    %thead
      %tr      
        %th ردیف
        %th شماره فاکتور
        %th تاریخ ثبت
        %th مبلغ فاکتور به ریال
        %th مبلغ مانده به ریال
        %th پرداخت به آقای/خانم/شرکت
        %th پرداخت توسط آقای/خانم/شرکت
        %th بابت
        %th نوع فاکتور
        %th وضعیت          
        %th  
    %tbody
      - @account_documents.each_with_index do |account_document, i|
        - @mod = account_document.value - account_document.payments.sum(:payment_amount)
        - unless @mod === 0
          %tr
            %td= (i+1)
            %td= account_document.factor_number
            %td
              = JalaliDate.new(account_document.created_at)
            %td= account_document.value
            %td.mod= @mod
            
            %td= account_document.paid_to
            
            %td= account_document.paid_by
            %td
              - if account_document.payment_group.present?
                = account_document.payment_group.title
            %td.factor_type
              - if account_document.factor_type == 'customer'
                %b فروش
              - elsif account_document.factor_type == 'cost'
                %b خرید
              
            %td.factor-status{:class => account_document.id}
              - if account_document.status
                فاکتور نهایی
              - else
                پیش فاکتور
            
            %td.taeed
              = link_to 'ثبت پرداخت', new_payment_path(:factor_number => account_document.factor_number), :class => "btn btn-primary"
        
      %tr.sum
        %td{:colspan => "4"} 
          %b کل مبلغ مانده حساب
        %td#sum_mod
:javascript  
  $(document).ready(function(){
    var calculate = 0;
    $('td.mod').each(function() {     
      calculate += parseInt($(this).text());                     
    });
    $('#sum_mod').html('<b>'+calculate+'</b>');
  });
