.fa.set-center 
  .title{:style => "height:100px"}
    %h1.pull-right لیست پرداختی ها
    
  %table.table.table-striped{id:"account_table"}
    %thead
      %tr      
        %th ردیف
        %th شماره فاکتور
        %th تاریخ ثبت
        %th مبلغ به ریال
        %th پرداخت به آقای/خانم/شرکت
        %th پرداخت توسط آقای/خانم/شرکت
        %th بابت
        %th نوع فاکتور
        %th وضعیت          
        %th  
    %tbody
      - @account_documents.each_with_index do |account_document, i|
        %tr
          %td= (i+1)
          %td= account_document.factor_number
          %td
            = JalaliDate.new(account_document.created_at)
          %td= account_document.value
          
          %td= account_document.paid_to
          
          %td= account_document.paid_by
          %td
            - if account_document.payment_group.present?
              = account_document.payment_group.title
          %td.factor_type
            - if account_document.factor_type == 'customer'
              %b فروش
            - elsif account_document.factor_type == 'cost'
              %b خرید
            
          %td.factor-status{:class => account_document.id}
            - if account_document.status
              فاکتور نهایی
            - else
              پیش فاکتور
          
          %td.taeed
            = link_to 'ثبت پرداخت', new_payment_path(:factor_number => account_document.factor_number), :class => "btn btn-primary"
        
  %table.table
    %thead
      %tr
        %th ردیف
        %th Account document
        %th مبلغ پرداخت
        %th نوع پرداخت
        %th تاریخ پرداخت
        %th توضیحات
        %th عملیات
        
    %tbody
      - @payments.each_with_index do |payment, i|
        %tr
          %td= (i+1)
          %td= payment.account_document_id
          %td= payment.payment_amount
          %td= payment.payment_type
          %td= payment.payment_date
          %td= raw payment.description
          %td
            = link_to 'Show', payment
            = link_to 'Edit', edit_payment_path(payment)
            = link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

