.enable_file_select
  .form-group.col-sm-12   
    = detail.label 'قیمت پایه', :class => "control-label col-sm-3 "     
    = detail.label 'تعداد', :class => "control-label col-sm-3 "     
    = detail.label 'شرح کالا و خدمات', :class => "control-label col-sm-6"     
  .form-group.col-sm-3   
    = detail.link_to_remove (image_tag ("Delete_Icon.png"), :class => "recyclebin-icon"), :class => "remove-task"
  .form-group.col-sm-2
    = detail.text_field :objecct_price, :rows => 2, :style => "resize:none" , :class => "form-control" 
  .form-group.col-sm-1
    = detail.text_field :number_of, :rows => 2, :style => "resize:none" , :class => "form-control"   
  .form-group.col-sm-6    
    = detail.text_field :object_name, :rows => 2, :style => "resize:none"  , :class => "form-control"
    
  
  .clear-float
  %hr
