= form_for @subservice do |f|
  - if @subservice.errors.any?
    #error_explanation      
      %ul
        - @subservice.errors.full_messages.each do |msg|
          %li= msg
  .col-xs-7
    .form-group
      .editor
        = f.label 'متن تبلیعاتی به فارسی', :class => "control-label"
        = f.text_area :text_fa, :class => "form-control ckeditor"
    .form-group
      .editor
        = f.label 'متن تبلیعاتی به انگلیسی', :class => "control-label"
        = f.text_area :text_en, :class => "form-control ckeditor"
  .col-xs-4.margin5
    .form-group
      = f.label 'عنوان زیرگروه به انگلیسی', :class => "control-label"
      = f.text_field :title_en, :class => "form-control"
    .form-group
      = f.label 'عنوان زیرگروه به فارسی', :class => "control-label"
      = f.text_field :title_fa, :class => "form-control"
    .form-group
      = f.label 'سرویس مربوطه ', :class => "control-label"
      = f.select(:service_id, Service.all.collect {|u| [u.title, u.id]}, :prompt => 'Select Service')      
    .form-group
      = f.label 'تصویر نمونه', :class => "control-label"
      = f.file_field :image
    .form-group
      = f.label 'ایکن برای نمایش در دکمه', :class => "control-label"
      = f.file_field :icon
      
    .form-group
      = f.submit  'ثبت', :class => "btn btn-default"
:javascript
  $(document).ready(function(){
      $('.ckeditor').ckeditor();
  })
