.fa.width80.set-center
  %h1 لیست زیرگروه ها
  .col-xs-7
    %table.table
      %tr
        %th  Title
        %th  service
        %th
        

      - @subservices.each do |subservice|
        %tr        
          %td= subservice.title
          %td= subservice.service.title
          %td
            = link_to 'Show', subservice
            \|
            = link_to 'Edit', edit_subservice_path(subservice)
            \|
            = link_to 'Destroy', subservice, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .col-xs-4{:style=> "margin-top:10%"}
    = link_to 'زیرگروه جدید', new_subservice_path, :class => "btn btn-default"
