#b-details      
  .servic-descriptipn1
    .axis.sample-pic.col-xs-5#subservice-image.diplaynone.subservice-text
      = image_tag @subservice.image(:large), :class => "sub-service-img", :title => @subservice.title_fa, :alt => @subservice.title_fa
      
    .box-text.col-xs-7{:class => I18n.locale}
      %h2= @subservice.title
      .details-text{:class => I18n.locale}
        %div=raw @subservice.text   
        %ul.tag-keywords{:class => I18n.locale}
          %li.tag-cloud= link_to t('raushtitle'), root_path
          - Service.all.each do |service|
            %li.tag-cloud= link_to service.title, service
    .clear-float

  - if is_admin?
    = link_to 'Edit', edit_subservice_path(@subservice)
    \|
    = link_to 'Back', subservices_path
