!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title RAUSH Co, BMS, Web Site, Graphic, Camera
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => 'bms , website, graphic, camera' } 
    %meta{:name => "description", :content => "شرکت راش"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
  %body{style: "margin:0px"}
    .container-full
      .row
        - if is_admin?
          .admin-menu            
            = render "shared/admin_menu"
        = render "shared/nav_bar"
      .row.main-div
        = yield     
        
      .footer.row
        = render "shared/footer"
