!!!
%html
  %head
    %title RaushWeb
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-full
      .row
        = render "shared/nav_bar"
      .row
        = yield
      .footer.row
        = render "shared/footer"
