!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title 
      = t('raushtitle')
      = ',' + Service.all.collect(&:title).join(",") #{@head.fetch(:title, '') if @head}
    
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => 'bms , website, graphic, camera, راش, Raush, هوشمند سازی, طراحی وب, گرافیک, دوربین مداربسته' } 
    %meta{:name => "description", :content => "شرکت راش, هوشمند سازی, طراحی وب, گرافیک, دوربین مدار بسته"}
    %meta{content: "no", "http-equiv" => "imagetoolbar"}
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
  %body{style: "margin:0px"}
    .container-full{:id => I18n.locale}
      .row.mainmenu     
        = render "shared/nav_bar"
        - if is_admin?
          .admin-menu            
            = render "shared/admin_menu"
      .row.main-div
        = yield     
        
      .footer.row
        = render "shared/footer"
    
